body
{
    background-size: cover;
}

.heading
{
    width: 100%;
    text-align: left;
    box-shadow: 2px 3px 10px lavender; 
}

.heading h3
{
    display: inline;
}

.heading button
{
    float : right;
    border: 2px solid white;
    border-radius: 10px;
}

#status, #start
{
    font-size: 23px;
    box-shadow: 2px 2px 10px lavender;
}